.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.right-arrow-button {
  position: fixed;
  top: 50%;
  right: 25%;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.left-arrow-button {
  position: fixed;
  top: 50%;
  left: 25%;
  background: white;
  padding: 10px;
  border-radius: 10px;
}