.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.right-arrow-button {
  position: fixed;
  top: 50%;
  right: 25%;
  padding: 10px;
}

.left-arrow-button {
  position: fixed;
  top: 50%;
  left: 25%;
  padding: 10px;
}

.compass {
  position: fixed;
  align-self: center;
  left: 50%;
  bottom: 6%;
  transform: rotate(15deg);
};
